<head>
    {{>head}}
    <title>Add Products | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}   <br><br>

    <div class="col-10  card card-body" style="margin: 0 auto">
        <h5 class="card-title" style="text-align:center; color:#DC3545">Add Product</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="text-align:center">Product Details</h6><br>

        <form id ="addproduct_form" action = "/addProducts" enctype="multipart/form-data" method="post">
            <table class="table table-hover" >
                <tr><th>Book Title: </th>
                    <td><input class="form-control mr-sm-2" placeholder="Book Title" id="Book_Title" name="Book_Title"></td>
                    <p id="BookTitleError" class="error">{{BookTitleError}}</p>
                </tr>
                <tr><th>Book Cover: </th>
                    <td><div class="input-group">
                            <span><span class="btn btn-outline-default my-sm-0"><input type="file" accept="image/*" id="myImage" name="myImage"></span></span>
                        </div></td>
                    <p id="BookCoverError" class="error">{{BookCoverError}}</p>
                </tr>
                <tr><th>Author/s: </th>
                    <td><input class="form-control mr-sm-2" placeholder="Book Author/s" id="author" name="author"></td>
                    <p id="AuthorError" class="error">{{AuthorError}}</p>
                </tr>
                <tr><th>Category: </th>
                    <td><select class="form-control" id="category" name="category"> 
                        <option value="" selected disabled hidden>Select Category</option>
                        <option>Adventure</option>
                        <option>Art</option>
                        <option>Children's</option>
                        <option>Contemporary</option>
                        <option>Cooking</option>
                        <option>Development</option>
                        <option>Dystopian</option>
                        <option>Families / Relationships</option>
                        <option>Fantasy</option>
                        <option>Guide / How-to</option>
                        <option>Health</option>
                        <option>Historical Fiction</option>
                        <option>History</option>
                        <option>Horror</option>
                        <option>Memoir</option>
                        <option>Motivational</option>
                        <option>Mystery</option>
                        <option>Paranormal</option>
                        <option>Romance</option>
                        <option>Science Fiction</option>
                        <option>Secondary</option>
                        <option>Second Humorary</option>
                        <option>Self-help / Personal</option>
                        <option>Thriller</option>
                        <option>Travel</option>
                    </select></td>
                    <p id="CategoryError" class="error">{{CategoryError}}</p>
                </tr>
                <tr><th>Book Synopsis: </th>
                    <td><textarea class="form-control mr-sm-2" placeholder="Book Synopsis" rows="5" id="bookSynopsis" name="bookSynopsis"></textarea></td>
                    <p id="BookSynopsisError" class="error">{{BookSynopsisError}}</p>
                </tr>
                <tr><th>Publication Year: </th>
                    <td><input class="form-control mr-sm-2" type="number" placeholder="2020" min="1600" id="year" name="year"></td>
                    <p id="YearError" class="error">{{YearError}}</p>
                </tr>
                <tr><th>Publisher: </th>
                    <td><input class="form-control mr-sm-2" placeholder="Publishing House" id="publisher" name="publisher"></td>
                    <p id="PublisherError" class="error">{{PublisherError}}</p>
                </tr>
                <tr><th>Book Edition: </th>
                    <td><input class="form-control mr-sm-2" placeholder="Edition" id="edition" name="edition"></td>
                    <p id="BookEditionError" class="error">{{BookEditionError}}</p>
                </tr>
                <tr><th>Book Type: </th>
                    <td><select class="form-control" id="type" name="type"> 
                        <option value="" selected disabled hidden>Select Book Type</option>
                        <option>Hardbound</option>
                        <option>Softbound</option>
                        <option>Others</option>
                    </select></td>
                    <p id="BookTypeError" class="error">{{BookTypeError}}</p>
                </tr>
                <tr><th>Book Quality</th>
                    <td><select class="form-control" id="quality" name="quality">
                        <option value="" selected disabled hidden>Select Book Quality</option>
                        <option>New</option>
                        <option>Used</option>
                    </select></td>
                    <p id="BookQualityError" class="error">{{BookQualityError}}</p>
                </tr>
                <tr><th>Quantity</th>
                    <td><input class="form-control mr-sm-2" type="number" placeholder="0" min="0" id="quantity" name="quantity"></td>
                    <p id="QuantityError" class="error">{{QuantityError}}</p>
                </tr>

                <tr><th>Selling Price: </th>
                    <td><input class="form-control mr-sm-2" type="number" placeholder="₱ 00.00" min="00.00" id="sellingPrice" name="sellingPrice"></td>
                    <p id="PriceError" class="error">{{PriceError}}</p>
                </tr>
                <tr><th>Price Bought: </th>
                    <td><input class="form-control mr-sm-2" type="number" placeholder="₱ 00.00" min="00.00" id="priceBought" name="priceBought"></td>
                    <p id="PriceBoughtError" class="error">{{PriceBoughtError}}</p>
                </tr>
            </table>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Add Product</button>
        </form>
    </div> <br>
</body>