<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="../css/messagesStyle.css">

    

    
    <title>My Transactions</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}


    <div class="container-fluid-nopadding" >

        <div class="card text-center">
            <div class="card-header-center bg-light">
                <h4>Requested Books</h4>
            </div>

            <div class="card-header card-header-tabs bg-light">
                <ul class="nav nav-tabs  bg-light">
                    {{!-- <li class="nav-item">
                        <a class="nav-link " href="/adminRequestsList/Collective">Collective</a>
                    </li> --}}
                    <li class="nav-item ">
                        <a class="nav-link " href="/adminRequestsList/Individual">Individual</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link " href="/adminRequestsList/SoonExpiring">Soon Expiring</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/adminRequestsList/Fulfilled">Fulfilled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/adminRequestsList/Cancelled">Cancelled</a>
                    </li>
                </ul>
            </div>
                

            <div class="card-body-orders  overflow-auto vh72"  >
                <table class=" table table-bordered table-hover " id = "requestsTable">
                    <thead class="thead-light">
                        <tr>
                            <th >Request Number</th>
                            <th id="RequesterTH">Requester <br> <img src='../img/sortIcon.png' style="width:20px"></th>
                            <th >Requested Book Details</th>
                            <th> Urgent </th>
                            <th> maxPrice </th>
                            <th >Quantity</th>
                            <th >Date Requested <br> </th> 
                            <th>Override</th>
                            <th> Status</th>
                            <th id="PriorityRatingTH">Priority Rating <br> <img src='../img/sortIcon.png' style="width:20px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each requestList}}
                            <tr>
                                <th scope="row" class="requestID">{{request_ID}}</th>   
                                <td class = "requester">  {{requester}}</td>
                                <td align = "left" class="requestedBookDetails"> 
                                    <strong>Title: </strong>{{ book_title}} <br>
                                    <strong>Author:</strong> {{book_author}} <br>
                                    <strong>Other description:</strong> {{description}}
                                </td>
                                <td>{{isUrgent}}</td>
                                <td>{{maxPrice}}</td>
                                <td class="requestedBookQuantity">{{quantity}}</td>
                                <td align = "left">{{date_requested}}</td> 
                                <td>{{override}}</td>
                                <td class = "status">{{status}}</td>
                                <td>{{priority_rating}}</td>
                            </tr>
                        {{/each}}

                        {{#if requestList}}
                        <tr>
                            <td colspan="11"><h5>End of the list.</h5></td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="11"><h5>No request to show.</h5></td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{!-- Modal for fulfilment --}}
    <div class="modal fade " id="sendPaymentForm" tabindex="-1" role="dialog" aria-labelledby="sendPaymentFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document" style = "min-width: 75vw">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendPaymentFormTitle">Fulfill Request Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-9 col-sm-6">
                            <form name = "Fulfillment-Form">
                                <div class="form-group row">
                                    <label for="Request Number" class="col-sm-5 col-form-label">Request Number</label>
                                    <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="FulfillRequestNumber" value="0123456789">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="requester" class="col-sm-5 col-form-label">Requester</label>
                                    <div class="col-sm-7">
                                    <p id="FulfillRequester" ></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Book title" class="col-sm-5 col-form-label">Book Details</label>
                                    <div class="col-sm-7">
                                    <p id="FulfillBookDetails"></p>
                                    <strong>Quantity:</strong> <span id="FulfillBookQuantity"></span>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Author" class="col-sm-5 col-form-label">bookVersion_ID
                                    </label>
                                    <div class="col-sm-7">
                                    <input type="text" class="form-control" id="FulfillBookID" placeholder="">
                                    <p id="FulfillError" style="color: red"></p>
                                    </div>
                                </div>
                            </form>

                            <div class="card text-center" id = "validateBook" hidden>
                                    {{!-- this has the book details of the bookVersion_ID inputted --}}
                            </div>

                            <div class="modal-footer">
                                <span class="text-left" id = "fulfillMsg" ></span>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id= "SendFulfillBtn" data-dismiss="modal" disabled>Send</button>
                            </div>
                        </div>

                        <div class="col-9 col-sm-6" style = "border-left: 2px solid #dddddd;">
                            <h4 class = "text-center">Search book in the database</h4>
                            <form>
                                <div class="form-group row">
                                    <label for="searchFulfill" class="col-sm-5 col-form-label">Search book in the database</label>
                                    <div class="col-sm-7">
                                    <input type="text"  class="form-control-plaintext" id="searchFulfill" placeholder="Title">
                                    </div>
                                </div>
                            </form>

                            {{!-- for the searchresult --}}
                                <div id="fulfillsearchresults" style = "height: 600px; overflow-y: scroll; overflow-x: hidden;">

                                </div>
                            {{!-- end for the searchresult --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!-- END Modal for fulfillment --}}

    





</body>
</html>