<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/jquery-3-3-1.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/messagesStyle.css">

    {{!-- for changing navbar depending on current user --}}
    <script src="../js/navbar.js" type="text/javascript"></script>
    <script src="../js/messages.js" type="text/javascript"></script>

    <title>Messages | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}

  {{!-- Messaging stuff --}}
  <div class="messaging">
      <!-- start chat side panel -->
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4 class = "AC703D">Messages <span><img src="../img/compose_msg.png" id= "composeNewMessageButton" title = "Compose New Message" data-toggle="modal" data-target="#composeNewMessageDiv" ></span></h4>
          </div>
        </div>

        <div class="inbox_chat" id="inbox_chat">
          {{#each messagesList}}
          
          {{!-- <a href="/messages/{{username}}" class = "message_link">   --}}
            {{!-- <div class="chat_list active_chat">      NOTE USE THIS FOR ACTIVE CHAT    SO MODIFY THE HBS PA, SHOUD HAVE IF STATEMENTS--}}
            <div class="chat_list "> 
              <input type="hidden" class="username_list" name="username_list" value="{{username}}">
              <div class="chat_people">
                <div class="chat_ib">
                  <h5>{{username}}<span class="chat_date">{{snippetDate}}</span></h5>
                  <p>{{messageSnippet}}</p>
                </div>
              </div>
            </div>
          {{!-- </a> --}}
          {{/each}}
        </div>
        
        <!-- END chat side panel -->
      </div>

      <div class="messagesRight">
        <div class="messageRightName"><h4>{{activeMessageUsername}}</h4></div>

        {{!-- this is the messages na talaga --}}
        {{!-- {{> messagesPartial}} --}}


        <div class="msg_history" id="msg_history" >
          {{#each messages}}
          {{#if sender}}
          {{!-- if sender exists --}}
              <div class="outgoing_msg">
                  <div class="sent_msg">
                  <p>{{message}}</p>
                  <span class="time_date"> {{date}}</span> </div>
              </div>
          {{else}} 
          {{!-- else if receiver exists --}}
              <div class="incoming_msg">
                  <div class="received_msg">
                  <div class="received_withd_msg">
                      <p>{{message}}</p>
                      <span class="time_date"> {{date}}</span></div>
                  </div>
              </div>
          {{/if}}
          {{/each}}


          
      </div>

       <div class="type_msg">
          <div class="input_msg_write">
            <form id="sendMessageForm" class="sendMessageForm"  method="post" autocomplete="off" >
              <input type="hidden" class="messagesHistory_id" name="messagesHistory_id" value="{{messagesHistory_id}}">
              <input type="hidden" class="receiver" name="receiver" value="{{activeMessageUsername}}">
              <input type="text" class="write_msg message" name = "message" placeholder="Type a message" />
              <button class="msg_send_btn" id="msg_send_btn" type="submit" ><i class="fa fa-paper-plane-o" aria-hidden="true"> ➤ </i></button>
              {{!-- html: &#x27a4;   &#x27a4;	js: \u27a4	text: ➤ --}}
            </form>
          </div>
        </div>
        
       
      </div>

    </div>



    {{!-- Modal for fulfilment --}}
    <div class="modal fade" id="composeNewMessageDiv" tabindex="-1" role="dialog" aria-labelledby="composeNewMessageFormTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="composeNewMessageFormTitle">Compose New Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name = "composeNewMessageForm" id ="composeNewMessageForm" method = "post" action= "/composenewmessage" autocomplete="off" >
              <div class="modal-body">
                  <div class="form-group row">
                      <label for="Receiver" class="col-sm-5 col-form-label">Recipient</label>
                      <div class="col-sm-7">
                      <input type="text"  class="form-control-plaintext" id="composeNewMessageRecipient" name="composeNewMessageRecipient"placeholder = "Username">
                      <p id ="recipientError"></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="composeNewMessageRecipientText" class="col-sm-5 col-form-label">Message</label>
                      <div class="col-sm-7">
                      <textarea class="form-control-plaintext" id="composeNewMessageText" name = "composeNewMessageText" placeholder = "Enter your message here" style="height: 150px; resize: none"></textarea>
                      </div>
                  </div>
              </div>
              <div class="modal-body" style = "border-top: 1px solid #f0f0f0">
                <h6 class="modal-title">List of Admin Usernames</h6>
                <li>seanxnieva</li>
                <li>katemagbitang</li>
                <li>shimeizhang08</li>
                <li>oninolan</li>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-danger" id = "newMessageSubmit" disabled>Send</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  {{!-- END Modal for fulfillment --}}

  

    

  </body>
</html>