<head>
    {{>head}}
    <title>{{title}} | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}
    <br>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-4">
                <div class="text-center img-thumbnail">
                <img src="{{bookCover}}" height="290px" width="250px" alt="{{title}}">
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{aName}}</h6> <br>

                        <h5 style="color: #DC3545">₱{{sellingPrice}}</h5> <hr>
                        <p class="card-subtitle mb-2 text-muted">{{quantity}}</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button">-</button>
                            </div>
                            <input type="text" placeholder="0" style="text-align:center; width: 103px">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">+</button>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger" style="width: 170px">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-12 card" style="margin: 0 auto">
                <div class="card-body"> <br>
                    <h6 class="card-subtitle mb-2 text-muted">Product Details</h6> <hr><br>

                    <p class="card-text"> Book Synopsis <br>{{bookSynopsis}}</p> <br><br>

                    <h6 class="card-subtitle mb-2 text-muted">More Information</h6> <hr><br>
                    
                    <table class="table table-hover" >
                        <tr><th>Book Title: </th>
                            <td>{{title}}</td>
                        </tr>
                        <tr><th>Quality: </th>
                            <td>{{quality}}</td>
                        </tr>
                        <tr><th>Edition: </th>
                            <td>{{edition}}</td>
                        </tr>
                        <tr><th>Book Ttype: </th>
                            <td>{{type}}</td>
                        </tr>
                        <tr><th>Publication Year: </th>
                            <td>{{year}}</td>
                        </tr>
                        <tr><th>Publisher: </th>
                            <td>{{publisher}}</td>
                        </tr>
                        <tr><th>Category: </th>
                            <td>{{category}}</td>
                        </tr>
                        <tr><th>Author/s: </th>
                            <td>{{author}}</td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
    </div><br>
</body>
