<head>
    {{>head}}
    <title>Sales Report | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}

    <br>
    <h3 class="text-center" style="color:#DB4E35">Sales Report</h3>
    <h5 class="text-center"  style="color:#DB4E35">{{startingdate}} to {{endingdate}}</h5><br>

    <div class="col-10  card card-body" style="margin: 0 auto">
        <table class="table table-hover">
            <tr class = "bg-light">
                <th>Date</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>

            {{#if salesList}}
                {{#each salesList}}
                    <tr>
                        <td>{{confirm_date}}</td>
                        <td>{{customer}}</td>
                        {{!-- {{#each itemlist}}   --}}
                            <td> {{#each itemlist}} {{title}} <br>{{/each}}</td>
                            <td>{{#each itemlist}} {{quantity}}<br>{{/each}}</td>
                            <td style="text-align: right;">{{#each itemlist}} ₱ {{subtotal}}<br>{{/each}}</td>
                        {{!-- {{/each}} --}}
                    </tr>
                {{/each}}
            {{else}}
                <tr >
                    <td colspan="5" style = "text-align: center;"> No sales to show.</td>
                </tr>
            {{/if}}

        </table>
    </div>
</body>
