<head>
    {{>head}}
    <title>Sales Report | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}

    <br>
    <h3 class="text-center text-info">Sales Report</h3>
    <h5 class="text-center text-info">{{startingdate}} to {{endingdate}}</h5><br>

    <div class="col-10  card card-body" style="margin: 0 auto">
        <table class="table table-hover">
            <tr><th>Date</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>
            {{#each salesList}}
            <tr><td>{{confirm_date}}</td>
                <td>{{customer}}</td>
                {{#each itemlist}}
                <td>{{title}}</td>
                <td>{{quantity}}</td>
                <td>₱ {{price}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </table>
    </div>
</body>
